{% extends "layouts/base.html" %}
{% block head %}
<script src="js/main.js"></script>
{% endblock %}
{% block title %}Customer Login{% endblock %}
{% block body %}
    <div class="container">
        <h1>Customer Login</h1>
        <form action="/customer-login-auth" method="POST" redirect>
            <div class="container">
                <label for="cust-username-login">Username</label>
                <input id="cust-username-login" type="email" placeholder="joe@nyu.edu" name="customer-username" required>
            </div>
            <div class="container">
                <label for="cust-password-login">Password</label>
                <input id="cust-passsword-login" type="password" placeholder="abc123" name="customer-password" required>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
            {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
        </form>
    </div>
{% endblock %}