{% extends "layouts/base.html" %}
{% block head %}
<script src="js/main.js"></script>
{% endblock %}
{% block title %}Ticket Purchase{% endblock %}
{% block body %}
    <div class="container">
        <h3>Ticket Purchase</h3>
        <hr>
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <h4>Flight Details</h4> 
                <dl class="dl-horizontal text-overflow">
                    <dt>Flight Number</dt>
                    <dd>{{flight_num1}}</dd>
                    <dt>Airline</dt>
                    <dd>{{airline1}}</dd>
                    <dt>Departure Date</dt>
                    <dd>{{dept_date1}}</dd>
                    <dt>Departure Time</dt>
                    <dd>{{dept_time1}}</dd>
                    <dt>Arrival Date</dt>
                    <dd>{{arr_date1}}</dd>
                    <dt>Departure Airport</dt>
                    <dd>{{dept_air1}}</dd>
                    <dt>Arrival Airport</dt>
                    <dd>{{arr_air1}}</dd>
                    <dt>Base Price</dt>
                    <dd>${{baseprice1}}</dd>
                </dl>
                {% if round %}
                <dl class="dl-horizontal text-overflow">
                    <dt>Flight Number</dt>
                    <dd>{{flight_num2}}</dd>
                    <dt>Airline</dt>
                    <dd>{{airline2}}</dd>
                    <dt>Departure Date</dt>
                    <dd>{{dept_date2}}</dd>
                    <dt>Departure Time</dt>
                    <dd>{{dept_time2}}</dd>
                    <dt>Arrival Date</dt>
                    <dd>{{arr_date2}}</dd>
                    <dt>Departure Airport</dt>
                    <dd>{{dept_air2}}</dd>
                    <dt>Arrival Airport</dt>
                    <dd>{{arr_air2}}</dd>
                    <dt>Base Price</dt>
                    <dd>${{baseprice2}}</dd>
                </dl>
                {% endif %}
            </div>
            <form action="/customer-card-info" method="POST" redirect="true">
                <input type="hidden" id="siteId" name="siteId" value="271440522">
                <input type="hidden" id="pageId" name="pageId" value="193009990">
                <input class="hide" style="visibility:hidden" name="airline" type= "text" value= "{{airline}}" readonly>
                <input class="hide" style="visibility:hidden" name="flight-number" type= "number" value= "{{flight_num}}" readonly>
                <input class="hide" style="visibility:hidden" name="dept-date" type= "date" value= "{{dept_date}}" readonly>
                <input class="hide" style="visibility:hidden" name="dept-time" type= "time" value= "{{dept_time}}" readonly>
                <input class="hide" style="visibility:hidden" name="price" type= "number" value= "{{baseprice}}" readonly>
                <input class="hide" style="visibility:hidden" name="round-trip" type= "text" value= "{{round_trip}}" readonly>
                <input class="hide" style="visibility:hidden" name="arr-time" type= "time" value= "{{arr_time}}" readonly>
                <input class="hide" style="visibility:hidden" name="arr-date" type= "date" value= "{{arr_date}}" readonly>
                <input class="hide" style="visibility:hidden" name="base-price-1" type= "number" value= "{{f1price}}" readonly>
                <input class="hide" style="visibility:hidden" name="base-price-2" type= "number" value= "{{f2price}}" readonly>
                <div class="form-group">
                    <label for="card-type">Card Type</label>
                    <select id="card-type" class="form-control" name="card-type">
                        <option value="credit">Credit</option>
                        <option value="debit">Debit</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="card-name">Name On Card</label>
                    <input class="form-control" id="card-name" type="text" placeholder="Joe Biden" name="card-name" required>
                </div>
                <div class="form-group">
                    <label for="card-name">Card Number</label>
                    <input class="form-control" id="card-name" type="text" placeholder="1234-1234-1234-1234" name="card-number" required>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="card-month">Expiration Month</label>
                            <select id="card-month" class="form-control" name="card-month">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="card-year">Expiration Year</label>
                            <select id="card-year" class="form-control" name="card-year">
                                <option value="2030">2030</option>
                                <option value="2029">2029</option>
                                <option value="2028">2028</option>
                                <option value="2027">2027</option>
                                <option value="2026">2026</option>
                                <option value="2025">2025</option>
                                <option value="2024">2024</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
            <hr>
            <h4 class="text-center"><a href="http://127.0.0.1:5000/customer-flight-search">Return To Flights</a></h4>
        </div>
    </div>
{% endblock %}