{% extends "layouts/base.html" %}
{% block head %}
<script src="js/main.js"></script>
{% endblock %}
{% block title %}Customer Homepage{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="container">
                <h3>Welcome {{ name }}</h3>
                <h4><a href="http://127.0.0.1:5000/logout">Log out</a></h4>
            </div>
        </div>
        <hr>
        <h3><a href="http://127.0.0.1:5000/customer-flight-search">Flight Search 🔎</a></h3>
        <h3><a href="http://127.0.0.1:5000/customer-flight-view">My Flights</a></h3>
        <h3><a href="http://127.0.0.1:5000/customer-rate-flight">Rate/Comment</a></h3>
        <h3><a href="http://127.0.0.1:5000/customer-track-spending">Track Spending</a></h3>
    </div>
{% endblock %}