{% extends "layouts/base.html" %}
{% block head %}
<script src="js/main.js"></script>
{% endblock %}
{% block title %}Top Customer{% endblock %}
{% block body %}
    <div class="container">
        <h3>Top Customer</h3>
        <hr>
        <h4 class="text-center">The top customer is {{top_customer}}!</h4>
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-striped">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thread>
                    <tr>
                        <th>Airline</th>
                        <th>Flight Number</th>
                        <th>Departure Airport</th>
                        <th>Departure Time</th>
                        <th>Arrival Airport</th>
                        <th>Arrival Time</th>
                        <th>Flight Status</th>
                    </tr>
                </thread>
                <tbody>
                    {% for line in flights %}
                    <tr>
                      <td>{{line['AirlineName']}}</td>
                      <td>{{line['FlightNumber']}}</td>
                      <td>{{line['DepartureDate']}}</td>
                      <td>{{line['DepartureTime']}}</td>
                      <td>{{line['ArrivalDate']}}</td>
                      <td>{{line['ArrivalTime']}}</td>
                      <td>{{line['FlightStatus']}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
            <hr>
            <h4 class="text-center"><a href="http://127.0.0.1:5000/staff-home">Return Home</a></h4>
        </div>
    </div>
{% endblock %}