{% extends "layouts/base.html" %}
{% block head %}
<script src="js/main.js"></script>
{% endblock %}
{% block title %}Customer Homepage{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="container">
                <h3>Welcome {{ name }}</h3>
                <h4><a href="http://127.0.0.1:5000/logout">Log out</a></h4>
            </div>
        </div>
        <hr>
        <h4>View</h4>
        <br>
        <h3><a href="http://127.0.0.1:5000/staff-flight-view">Flights 🔎</a></h3>
        <h3><a href="http://127.0.0.1:5000/staff-ratings-view">Ratings</a></h3>
        <h3><a href="http://127.0.0.1:5000/staff-revenue-view">Revenue</a></h3>
        <h3><a href="http://127.0.0.1:5000/staff-frequent-customers">Frequent Customers</a></h3>
        <h3><a href="http://127.0.0.1:5000/staff-top-destinations">Top Destinations</a></h3>
        <h4>Staff Permissions</h4>
        <h3><a href="http://127.0.0.1:5000/staff-create-flight">Create Flights</a></h3>
        <h3><a href="http://127.0.0.1:5000/change-status">Change Flight Status</a></h3>
        <h3><a href="http://127.0.0.1:5000/add-airplane">Add Airplane</a></h3>
        <h3><a href="http://127.0.0.1:5000/add-airport">Add Airport</a></h3>

    </div>
{% endblock %}